.plugin-market-filters {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 7px;
	margin-top: 10px;
	margin-bottom: 15px;
    .plugin-market-filter-sort {
        display: flex;
        align-items: center;
        > button {
            border: 1px solid #ffffff22;
            background: transparent;
            padding-left: 15px;
            padding-right: 15px;
            height: 30px;
            transition: background .25s ease;
            &:hover {
                background: #ffffff11;
            }
            &.active {
                background: #ec4141;
            }
            svg {
                width: 18px;
                fill: #ddd;
            }
            &:not(:last-child) {
                border-right: none;
            }
            &:first-of-type {
                border-radius: 6px 0 0 6px;
            }
            &:last-of-type {
                border-radius: 0 6px 6px 0;
            }
        }
        > svg {
            margin-right: 10px;
            opacity: .5;
			width: 18px;
			fill: #fff;
        }
    }
    .plugin-market-filter-search {
        display: flex;
        align-items: center;
        background: #1b1b1b;
        border: 1px solid #ffffff22;
        height: 35px;
        padding: 0 .5em;
        border-radius: 6px;
        font-size: 16px;

        > input {
            background: #1b1b1b00;
            border: none;
            height: 35px;
            border-radius: 6px;
            font-size: 16px;
        }
        > svg {
            opacity: .3;
			width: 18px;
			fill: #fff;
        }
    }
}



.plugin-market-container {
    width: 100%;
    height: auto;
    grid-column-gap: 18px;
    grid-row-gap: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    margin-bottom: 30px;

    .plugin-item {
        $actionbar-hover-width: 35px;
        --card-height: 150px;
        --card-radius: 4px;
        --transition-duration: 0.2s;
        --actionbar-width: 4px;
        &:hover {
            --actionbar-width: #{$actionbar-hover-width};
        } 

        height: var(--card-height);
        background: #1b1b1b;
        border-radius: var(--card-radius);
        /* border: #ffffff66 1px solid; */
        box-shadow: 0 15px 35px rgb(50 50 50 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 18px;
        backdrop-filter: blur(10px);
        max-width: 1100px;
        overflow: hidden;
        /* padding: 20px 15px; */
        position: relative;

        .plugin-item-preview {
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center; 
        }

        .plugin-item-body {
            width: 100%;
            transform: translateY(55%);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            &::before{
                transition: opacity 150ms;
                z-index: -1;
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: linear-gradient(#0000,#08080899 20%);
            }
            height: var(--card-height);
            transition: all var(--transition-duration) ease;
            border-radius: var(--card-radius);
            box-sizing: border-box;
            display: flex;
            overflow: hidden;
            z-index: 2;
            

            .plugin-item-info {
                padding: 15px 15px;
                padding-bottom: 12px;
                flex: 1;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                max-width: calc(100% - 26px);
                
                .plugin-item-title {
                    font-size: 18px;
                    text-shadow: 0 1px 3px rgb(0 0 0 / 75%);
                    margin-bottom: 6px;
                    font-weight: bold;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .plugin-item-author {
                    font-size: 14px;
                    text-shadow: 0 1px 3px rgb(0 0 0 / 75%);
                    margin-bottom: 10px;
                    color: #ffffff9a;

                    a {
                        color: #b3e4ff;
                    }
                }
                .plugin-item-description {
                    font-size: 14px;
                    text-shadow: 0 1px 3px rgb(0 0 0 / 75%);
                    margin-bottom: 6px;
                    line-height: 1.2;
                    flex: 1;
                    overflow: hidden;
                }
                .plugin-item-meta{
                    svg {
                        width: 12px;
                        fill: rgba(255, 255, 255, 0.651);
                        display: inline-block;
                        line-height: 1px;
                        vertical-align: bottom;
                        margin-right: 2px;
                    }
                    span{
                        padding: 0 .2em;
                    }

                    transition: all 0.2s;
                    opacity: .8;
                    margin-right: 4px;

                    &:hover{
                        opacity: 1;
                    }

                    &:not(:last-child)::after{
                        content: "|";
                        margin-left: 5px;
                    }
                }
                .plugin-item-version {
                    .new-version {
                        font-weight: bold;
                        color: #66ccff;
                        font-size: 125%;
                    }
                }
                .plugin-item-bg {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: calc(100% - $actionbar-hover-width);
                    -webkit-mask-image: linear-gradient(90deg, black, #ffffff00);
                    transition: opacity var(--transition-duration) ease;
                    height: 100%;
                    opacity: 0;
                    z-index: -1;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    pointer-events: none;
                    &::before{
                        content: "";
                        background: rgba(0, 0, 0, 0.137);
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        backdrop-filter: blur(10px);
                    }
                }
            }
        }

        &:hover .plugin-item-body{
            background: #222222;
            transform: translateY(0);
            opacity: 1;
            .plugin-item-bg{
                opacity: 0.3;
            }
            &::before{
                opacity: 0;
            }
        }

        .plugin-item-actions {
            position: absolute;
            height: 100%;
            z-index: 20;
            width: calc(var(--actionbar-width) + var(--card-radius));
            right: 0;
            transition: all var(--transition-duration) ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: var(--card-radius);
            box-sizing: border-box;
            overflow: hidden;
            justify-content: space-around;
            .plugin-item-bg{
                opacity: 0;
            }
            
            .plugin-action-button {
                width: 20px;
                height: 40px;
                background: transparent;
                border: none;
                opacity: 0;
                transition: all var(--transition-duration) ease;
                border-radius: 15px;
                padding-left: 2px;
                padding-right: 2px;
                box-sizing: border-box;
                transform: translateX(-1px);
            }
        }
        
        
        &:hover .plugin-action-button {
            opacity: 0.8;
            &:hover {
                transform: translateX(-1px) scale(1.1);
                opacity: 1;
            }
        }

        .plugin-item-state-indicator-container {
            z-index: 1;
            position: absolute;
            left: 8px;
            top: 8px;
            .plugin-item-state-indicator {
                height: 20px;
                width: 20px;
                fill: #fff;
                opacity: .7;
                margin-right: 8px;
                display: inline-block;
                filter: drop-shadow(0 1px 3px rgb(0 0 0 / 75%));
            }
        }
    }

    &.loading {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        svg {
            fill: #eee;
            height: 36px;
            margin-bottom: 20px;
        }
        div {
            font-size: 16px;
        }
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.spinning {
    animation: spin 1s linear infinite;
}





.reload-notice {
    position: fixed;
    right: 0;
    bottom: 72px;
    width: calc(100% - 200px);
    z-index: 100;
    background: #444;
    display: flex;
    height: 50px;
    font-size: 18px;
    padding-left: 25px;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    box-shadow: 0 -15px 35px rgb(50 50 50 / 20%), 0 -5px 15px rgb(0 0 0 / 15%);
    animation: reload-notice 0.5s ease;

    > div {
        flex: 1;
        line-height: 50px;
    }

    > button {
        color: rgba(255, 255, 255, 0.8);
        background: #ec4141;
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 100px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 25px;
        height: 30px;
        transition: all .25s ease;

        &:hover{
            transform: scale(1.1);
        }
        svg {
            width: 20px;
            fill: rgba(255, 255, 255, 0.8);
            margin-right: 10px;
        }
    }
}

@keyframes reload-notice {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}